 .Contact h1{
     font-size: 2rem;
     margin: 0 0 1.5rem 1.5rem;
 }



.Contact-Info{
    display: flex;
    flex-direction: column;
}


.Contact-Info-Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20px 0;
    text-align: center;
    
}


.Contact-Info-Profile img{
    
    width: 100%;
    margin-bottom: 25px;
}

.Contact-Info-Profile h2{
    font-size: 2.6rem;
}
.Contact-Info-Profile p{
    font-size: 1.6rem;
}

.Contact-Wrapper{
    //justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 25px auto 0;
}
.Contact-Info-item {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    margin: 1rem auto;
}
.Contact-Info-item i{
    font-size: 2rem;
    margin-right: .5rem;
}
.Contact-Info-item a{
    text-decoration: none;
    color: black;
}





