

.Education{
    //background-color: #EDF7FA;
    background: rgb(237,247,250);
    background: linear-gradient(0deg, rgba(237,247,250,1) 82%, rgba(255,255,255,1) 100%);
    padding: 50px 5px 40px;
    display: flex;
    flex-direction: column;
}
.Education p {
    font-size: 1.8rem;
    align-self: center;
    margin-bottom: 10px;
}