

.Education{
    background-color: #EDF7FA;
    padding: 50px 5px 40px;
    display: flex;
    flex-direction: column;
}
.Education p {
    font-size: 1.8rem;
    align-self: center;
    margin-bottom: 10px;
}