
.ExperienceBox{
   
   background-color: white;
   width: 90%;
   margin: 12.5px auto;
   color: #21243D;
   padding: 15px;
   border-radius: 8px;

}

.ExperienceBox h2{
    font-size: 2.2rem;
    line-height: 30px;
    
}

.ExperienceBox span{
   
    font-size: 1.6rem;
    margin: 15px 0 15px 15%;
    display: inline-block;

}
.ExperienceBox p{
   
    font-size: 1.6rem;
    
}