.FeaturedWorks {
    display: flex;
    flex-direction: column;
    
}

.FeaturedWorks_title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    min-width: 124px;
    min-height: 60px;
}

.FeaturedWorks_title i{
    margin-right: 3px;
    padding-bottom: 3px;
}