.FeaturedWorks {
    display: flex;
    flex-direction: column;
    
}

.FeaturedWorks_title{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    min-width: 124px;
    min-height: 60px;
}