

.Footer{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding-bottom: 20px;
}
.Footer_SocialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer_SocialMedia img{
    width: 30px;
    height: 30px;
    margin: 0 10px 10px;
}

.Footer p{
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    color: #21243D;
}
