.HamMenu{
    border: solid 1px #21243D;
    color: #21243D;
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 150px;
    position: absolute;
    bottom: auto;
    right: 10px;
    top: 50px;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0px 15px 40px rgba(38, 38, 38, 0.17);
    border-radius: 17px;
}
.HamMenu .Header_item {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.HamMenu .Header_item i{
   margin-right: auto; 
   
}