



.Project-List-Card{
    //position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    //background: linear-gradient(207.8deg, #fff 16.69%, #FF6464 100%);
    background: var(--gradient-bg);
    
}

.Project-List-Card h1{
    
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.Project-List-Card p{
    margin-top: 4.5rem;
    font-size: 2rem;
    padding: 0 3rem;
    //font-weight: 500px;
    line-height: 1.8rem;
}