
.Works{
    color: #21243D;
}
.Works img{
    max-width: 320px;
    border-radius: 6px;
}


.Works_title{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 30px;
}

.Works_description{
    font-weight: 400;
    font-size: 1.6rem;
}